<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")
df.shape

(11552, 85)

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here

print('There are', df.duplicated().sum(), 'duplicate rows.')
print('There are', df.duplicated('Respondent').sum(), 'duplicate values are there in the column Respondent.')

There are 154 duplicate rows.
There are 154 duplicate values are there in the column Respondent.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
df.drop_duplicates(inplace=True)
df.shape

(11398, 85)

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
print('There are', df.duplicated().sum(), 'duplicate rows.')

There are 0 duplicate rows.

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here
print('The following columns are missing values :\n ', df.columns[df.isnull().any()])

The following columns are missing values :
  Index(['OpenSource', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CompTotal', 'CompFreq', 'ConvertedComp',
       'WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote', 'WorkLoc',
       'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests', 'PurchaseHow',
       'PurchaseWhat', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

Find out how many rows are missing in the column 'WorkLoc'

In [15]:
# your code goes here
print("There are", df['WorkLoc'].isnull().sum(), "rows, missing values in the column 'WorkLoc'")
print("There are", df['EdLevel'].isnull().sum(), "rows, missing values in thecolumn 'EdLevel'")
print("There are", df['Country'].isnull().sum(), "rows, missing values in thecolumn 'Country'")

There are 0 rows, missing values in the column 'WorkLoc'
There are 112 rows, missing values in thecolumn 'EdLevel'
There are 0 rows, missing values in thecolumn 'Country'

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [9]:
#make a note of the majority value here, for future reference
majority_value = df['WorkLoc'].value_counts().idxmax()
print(majority_value)

Office

In [17]:
#Question 1What is the majority category under the column Employment?
majority_emp = df['Employment'].value_counts().idxmax()
print(majority_emp)

Employed full-time

In [19]:
#Under the column " UndergradMajor", which category has the minimum number of rows?
minority_un = df['UndergradMajor'].value_counts().idxmin()
print(minority_un)

A health science (ex. nursing, pharmacy, radiology)

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [10]:
# your code goes here
df['WorkLoc'].fillna(majority_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [11]:
# your code goes here
print("There are", df['WorkLoc'].isnull().sum(), "rows, missing values in the column 'WorkLoc'")

There are 0 rows, missing values in the column 'WorkLoc'

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [20]:
# your code goes here
print(df['CompFreq'].value_counts())

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [23]:
# your code goes here
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation']  = 1  * df['CompTotal']
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = 12 * df['CompTotal']
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation']  = 52 * df['CompTotal']

    CompTotal CompFreq  NormalizedAnnualCompensation
0     61000.0   Yearly                       61000.0
1    138000.0   Yearly                      138000.0
2     90000.0   Yearly                       90000.0
3     29000.0  Monthly                      348000.0
4     90000.0   Yearly                       90000.0
5      9500.0  Monthly                      114000.0
6      3000.0  Monthly                       36000.0
7    103000.0   Yearly                      103000.0
8     69000.0   Yearly                       69000.0
9      8000.0  Monthly                       96000.0
10     7000.0  Monthly                       84000.0
11   114000.0   Yearly                      114000.0
12     2000.0   Weekly                      104000.0
13    22000.0   Weekly                     1144000.0
14    96000.0  Monthly                     1152000.0
15   156000.0   Yearly                      156000.0
16    18000.0   Yearly                       18000.0
17     6400.0  Monthly                       76800.0
18     5000.0  Monthly                       60000.0
19   400000.0   Yearly                      400000.0

In [25]:

df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).